/* GAMEPAD VIEWER TEST SKIN */

body {
    background: transparent !important;
}

.gamepad {
    filter: hue-rotate(290deg) saturate(2) !important;
}

button,
svg {
    filter: hue-rotate(290deg) !important;
}